# Node / JS
node_modules/
npm-debug.log*
yarn-error.log*
dist/

# Expo / Metro
.expo/
.expo-shared/

# Environment files
.env
.env.local

# Native builds (can be re-generated)
android/
ios/

# OS / editor files
.DS_Store
.idea/
.vscode/
